<% content_for(:body_classes){ 'body--directory' } %>

<% content_for :heading do %>
  <%= image_tag gravatar(@user.email), class: 'heading--image' %>
  <% if current_user == @user %>
    <%= link_to "Edit Profile", edit_user_path(@user), class: 'heading--button' %>
  <% end %>
  <h1><%= @user.name.try(:titleize) %> <small><%= @user.tagline %></small></h1>
  <%= simple_format(@user.bio) if @user.bio.present? %>
<% end %>

<div class="directory">
  <div class="wrapper">

    <section class="directory-main">
      <h2>The Latest From <%= @user.name.try(:titleize) %></h2>

      <% if current_user == @user %>
        <%= render 'directory/new_timeline_post' %>
      <% end %>

      <%= render 'directory/timeline' %>
    </section>

    <aside class="directory-sidebar">
      <h3><%= @user.name.try(:titleize) %>'s Projects</h3>
      <%= render 'projects' %>
    </aside>

  </div>
</div>
